<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>PiCamCV Server</title>
    <link rel="stylesheet" href="/assets/lib/bootstrap/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/assets/lib/bootstrap/dist/css/bootstrap-theme.min.css" >
    <link rel="stylesheet" href="/assets/lib/toastr/toastr.min.css">
    <link rel="stylesheet" href="/assets/lib/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css">
    
</head>
<body ng-app="picamWebApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PiCamCV", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @*<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Do", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>*@
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            
        </footer>
    </div>

    <script src="~/assets/lib/jquery/dist/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="~/assets/lib/angular/angular.min.js"></script>
    <script src="~/assets/lib/angular-resource/angular-resource.min.js"></script>
    <script src="~/assets/lib/angular-route/angular-route.min.js"></script>
    <script src="~/assets/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="~/assets/lib/toastr/toastr.min.js"></script>
    <script src="~/assets/lib/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
    <script src="~/assets/lib/angular-bootstrap-slider/slider.js"></script>

    <script src="~/assets/app-ts.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
